<!doctype html>
<head>
	<title>pollbc</title>
</head>

<form action="/">
	{{if .Departments}}
	<select name="department">
		{{range $dep := .Departments}}
		<option value="{{$dep}}">{{$dep}}</option>
		{{end}}
	</select>
	{{else}}
	<select name="placeID">
		{{range $place := .Places}}
		{{if $place.City}}
		<option value="{{$place.ID}}">
		{{$place.City}}
		</option>
		{{else if $place.Arrondissement}}
		<option value="{{$place.ID}}">
		{{$place.Department}} {{$place.Arrondissement}}
		</option>
		{{end}}
		{{end}}
	</select>
	{{end}}
	<input type="submit" value="Filter">
</form>

{{$map := .Map}}
{{$loc := .Location}}
<div>
	{{range .Announces}}
	<div>
		<hr>
		{{$fetched := .Fetched.In $loc}}
		{{.Date.Format "Monday January 2 15:04"}} (fetched at {{$fetched.Format "15:04"}})
		<br>
		<a href={{.ID}}>{{.Title}}</a> 
		<br>
		{{$place := index $map .PlaceID}}
		{{if $place.City}}
		<a href="/?placeID={{.PlaceID}}">{{$place.City}}</a> / <a href="/?department={{$place.Department}}">{{$place.Department}}</a>
		{{else if $place.Arrondissement}}
		<a href="/?department={{$place.Department}}">{{$place.Department}}</a> <a href="/?placeID={{.PlaceID}}">{{$place.Arrondissement}}</a>
		{{else}}
		<a href="/?department={{$place.Department}}">{{$place.Department}}</a>
		{{end}}
		{{if .Price}}<br><strong>{{.Price}}</strong>{{end}}
	</div>
	{{end}}
</div>
