{{$places := .Places}}
<!doctype html>
<div>
	{{range .Announces}}
	<div>
		<hr>
		{{.Date.Format "Monday January 2 15:04"}} (fetched at {{.Fetched.Format "15:04"}})
		<br>
		<a href={{.ID}}>{{.Title}}</a> 
		<br>
		{{$place := index $places .PlaceID}}
		{{$departement := $place.Department}}
		{{$arrondissement := $place.Arrondissement}}
		<a href="/?placeID={{.PlaceID}}">{{$place.City}}{{if $departement}} / {{$departement}}{{else}}, {{$arrondissement}}{{end}}</a>
		{{if .Price}}<br><strong>{{.Price}}</strong>{{end}}
	</div>
	{{end}}
</div>
